<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PCP Study</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="../css/tabs.css">
        <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
        <style>
            .tab-pane {
                display: none;
            }
            .tab-pane.is-active {
                display: block;
            }
        </style>
    </head>
    <body>
        <nav class="navbar is-info">
            <div class="navbar-brand">
                <a class="navbar-item" href="#"></a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbarExampleTransparentExample" class="navbar-menu"></div>
        </nav>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        PCP literacy test using Mastery Learning
                    </h1>
                    <h3 class="subtitle">
                        <a href="https://bit.ly/3UsKU8x" style="color: #050404; text-decoration: none;">
                            Click here for <span style="text-decoration: underline;">Supplementary Materials</span>
                        </a>
                    </h3>
                </div>
            </div>

            <div class="tabs is-boxed is-centered main-menu" id="nav">
                <ul>
                    <li data-target="pane-1" class="is-active">
                        <a>
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>Introduction</span>
                        </a>
                    </li>
                    <li data-target="pane-2">
                        <a>
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>Remember</span>
                        </a>
                    </li>
                    <li data-target="pane-3">
                        <a>
                            <span class="icon is-small"><i class="fab fa-empire"></i></span>
                            <span>Understand</span>
                        </a>
                    </li>
                    <li data-target="pane-4">
                        <a>
                            <span class="icon is-small"><i class="fab fa-superpowers"></i></span>
                            <span>Analyze</span>
                        </a>
                    </li>
                    <li data-target="pane-5">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Apply</span>
                        </a>
                    </li>
                    <li data-target="pane-6">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Evaluate</span>
                        </a>
                    </li>
                    <li data-target="pane-7">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Create</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <!-- Introduction Tab -->
                <div class="tab-pane is-active" id="pane-1">
                    <div class="content">
                        <h1>Methodology</h1>
                        <img src="../images/PCP_ML-Study.png" alt="study methodology">
                        <p>This figure shows the Bloom’s taxonomy-based modules (Remember, Understand, Apply, Analyze, Evaluate, and Create) that
                            the students learned from during this intervention.</p>
                    </div>
                </div>

                <!-- Remember Tab -->
                <div class="tab-pane" id="pane-2">
                    <div class="content">
                    <h1>Remember Module</h1>
                    <ol>
                        <li>
                            <strong>Watch the Video:</strong><br>
                            <iframe title="vimeo-player" src="https://player.vimeo.com/video/539261609?h=ed6a0c268b" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                        </li>
                        <li>
                            <strong>Complete the Formative Assessment:</strong><br>
                            <a href="../surveys/remember-FA.pdf" target="_blank" >Download the Formative Assessment</a>
                        </li>
                        <li>
                            <strong>Complete the Summative Assessment:</strong><br>
                            <a href="../surveys/remember-SA.pdf" target="_blank"">Download the Summative Assessment</a>
                        </li>
                    </ol>
                    </div>
                </div>
                

                <!-- Understand Tab -->
                <div class="tab-pane" id="pane-3">
                   <div class="content">
                    <h1>Understand Module</h1>
                    <ol>
                        <li>
                            <strong>Watch the Video no. 1:</strong><br>
                             <iframe title="vimeo-player" src="https://player.vimeo.com/video/456891878?h=818a5007e2" width="640" height="360" frameborder="0"    allowfullscreen></iframe>
                        </li>
                         <li>
                            <strong>Watch the Video no. 2:</strong><br>
                            <iframe title="vimeo-player" src="https://player.vimeo.com/video/539261861?h=016cdb3bfb" width="640" height="360" frameborder="0"    allowfullscreen></iframe>
                        </li>
                        <li>
                            <strong>Complete the Formative Assessment:</strong><br>
                            <a href="../surveys/understand-fa.pdf" target="_blank" >Download the Formative Assessment</a>
                        </li>
                        <li>
                            <strong>Complete the Summative Assessment:</strong><br>
                            <a href="../surveys/understand-sa.pdf" target="_blank"">Download the Summative Assessment</a>
                        </li>
                    </ol>
                    </div>
                </div>

                <!-- Other Tabs -->
                <div class="tab-pane" id="pane-4">
                    <p>Content for the Analyze tab goes here.</p>
                </div>
                <div class="tab-pane" id="pane-5">
                    <p>Content for the Apply tab goes here.</p>
                </div>
                <div class="tab-pane" id="pane-6">
                    <p>Content for the Evaluate tab goes here.</p>
                </div>
                <div class="tab-pane" id="pane-7">
                    <p>Content for the Create tab goes here.</p>
                </div>
            </div>
        </section>

        <script>
            // JavaScript for tab switching
            const tabs = document.querySelectorAll(".tabs ul li");
            const tabPanes = document.querySelectorAll(".tab-pane");

            tabs.forEach((tab) => {
                tab.addEventListener("click", function () {
                    // Remove active class from all tabs and panes
                    tabs.forEach((item) => item.classList.remove("is-active"));
                    tabPanes.forEach((pane) => pane.classList.remove("is-active"));

                    // Add active class to the clicked tab and its pane
                    this.classList.add("is-active");
                    const target = this.getAttribute("data-target");
                    document.getElementById(target).classList.add("is-active");
                });
            });
        </script>
    </body>
</html>
