<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PCP Study</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <!-- Bulma Version 0.9.x -->
        <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="../css/tabs.css">
        <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar is-info">
            <div class="navbar-brand">
                <a class="navbar-item" href="#"></a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbarExampleTransparentExample" class="navbar-menu"></div>
        </nav>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Mastery Learning Improves Performance on Complex Tasks in PCP Literacy
                    </h1>
                    <h2 class="subtitle">
                        <a href="https://bit.ly/3UsKU8x" style="color: #050404; text-decoration: none;">
                            Click here for <span style="text-decoration: underline;">Supplementary Materials</span>
                        </a>
                    </h2>
                </div>
            </div>

            <div class="tabs is-boxed is-centered main-menu" id="nav">
                <ul>
                    <li data-target="pane-1" id="1" class="is-active">
                        <a>
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>Introduction</span>
                        </a>
                    </li>
                    <li data-target="pane-2" id="2">
                        <a>
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>Remember</span>
                        </a>
                    </li>
                    <li data-target="pane-3" id="3">
                        <a>
                            <span class="icon is-small"><i class="fab fa-empire"></i></span>
                            <span>Understand</span>
                        </a>
                    </li>
                    <li data-target="pane-4" id="4">
                        <a>
                            <span class="icon is-small"><i class="fab fa-superpowers"></i></span>
                            <span>Analyze</span>
                        </a>
                    </li>
                    <li data-target="pane-5" id="5">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Apply</span>
                        </a>
                    </li>
                    <li data-target="pane-6" id="6">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Evaluate</span>
                        </a>
                    </li>
                    <li data-target="pane-7" id="7">
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>Create</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <!-- Introduction Tab -->
                <div class="tab-pane is-active" id="pane-1">
                    <!-- <figure>
                        <img src="https://source.unsplash.com/0_xMuEbpFAQ/400x400" alt="💯" class="cent">
                    </figure>
                    <figure>
                        <img src="https://source.unsplash.com/wPMvPMD9KBI/800x600" alt="💯" class="cent">
                    </figure> -->
                    <div class="content">
                        <h1>Methodology</h1>
                        <img src="../images/PCP_ML-Study.png" alt="study methodology">
                        <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
                    </div>
                </div>

                <!-- Remember Tab -->
                <div class="tab-pane" id="pane-2" style="display: none;">
                    <p>Content for the Remember tab goes here.</p>
                </div>

                <!-- Understand Tab -->
                <div class="tab-pane" id="pane-3" style="display: none;">
                    <div class="columns">
                        <div class="container">
                            <div class="columns">
                                <div class="column">
                                    <article class="media">
                                        <div class="media-left">
                                            <i class="fab fa-github-square fa-4x"></i>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Dominic Ipsum</strong>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="column">
                                    <article class="media">
                                        <div class="media-left">
                                            <i class="fab fa-github-alt fa-4x"></i>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>io Ipsum</strong>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Other Tabs -->
                <div class="tab-pane" id="pane-4" style="display: none;">
                    <p>Content for the Analyze tab goes here.</p>
                </div>
                <div class="tab-pane" id="pane-5" style="display: none;">
                    <p>Content for the Apply tab goes here.</p>
                </div>
                <div class="tab-pane" id="pane-6" style="display: none;">
                    <p>Content for the Evaluate tab goes here.</p>
                </div>
                <div class="tab-pane" id="pane-7" style="display: none;">
                    <p>Content for the Create tab goes here.</p>
                </div>
            </div>
        </section>
    </body>
</html>
